<button mat-button>click me</button>
<mat-button-toggle value="italic">Italic</mat-button-toggle>
<mat-card style="background-color: brown;">Simple card</mat-card>
iframe width="560" height="315" src="https://www.youtube.com/embed/3WO2AffWvNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

